<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526226780916-e873imomeq86sh3k6m8eu3rn1c3tqp65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526226780916-e873imomeq86sh3k6m8eu3rn1c3tqp65</string>
	<key>API_KEY</key>
	<string>AIzaSyBjONuN0x8ChbGq_OIiv-ZN46Xk9LHTSNc</string>
	<key>GCM_SENDER_ID</key>
	<string>526226780916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ndtmExamples</string>
	<key>PROJECT_ID</key>
	<string>whisperp-88949</string>
	<key>STORAGE_BUCKET</key>
	<string>whisperp-88949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526226780916:ios:60c9cd7a18667a9cf1a4a1</string>
</dict>
</plist>